<div class="menu bg-color-secondary">
  <div class="menu-entries">
    <div (click)="onHideMenu()"
         class="menu-entry color-secondary close-entry hover-light bg-color-secondary hide-tablet hide-desktop"
         i18n="@@menu-close">
      CLOSE
    </div>
    <div class="divider hide-tablet hide-desktop"></div>
    <div *ngFor="let menuEntry of products | async">
      <app-menu-entry [level]="0" [menuEntry]="menuEntry"></app-menu-entry>
    </div>
    <div *ngIf="otherLength > 0" class="divider"></div>
    <div *ngFor="let menuEntry of other | async">
      <app-menu-entry [level]="0" [menuEntry]="menuEntry"></app-menu-entry>
    </div>
  </div>
</div>
