@media (max-width: 512px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    text-align: center;
  }
}

.close-entry {
  cursor: pointer;
  font-size: x-large;
}

.menu-entry {
  padding: 8px;
  white-space: nowrap;
}
