@media (max-width: 512px) {
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    text-align: center;
  }
}

.content {

}

.close-entry {
  cursor: pointer;
}

.menu-category {
  padding: 8px;
  white-space: nowrap;
  font-size: large;
}
